DATA/*
.conda/
logs/*
tests/test_output# Build artifacts
build.log
*.pyc
__pycache__/

# Test outputs
tests/test_output/test_log_*.txt
tests/test_output/*.log
tests/*.log

# Docker
.dockerignore

# IDE
.vscode/
.idea/
tests/*
tests/test_output/test2_interobs_seg.dcm
tests/test_output/test3_ambl001_nifti/niftiseg/segmentation.nii.gz
